<h1>Burgers!</h1>

<h2>Burgers!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      <li class="button">{{burger_name}}</li><button class='button' data-id='{{id}}'>devoured</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      <li class="deletebutton">{{burger_name}}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="hey">

  <div>
    <label for="burgername">Burger:</label>
    <input type="text" id="burgername" name="name">
  </div>

  <button id="add" type="submit">Add Burger</button>
</form>